<header id="hero">
<div class="hero-img" style="background-image: url({{site.data.settings.images.hero_image_path}}); background-color: {{site.data.settings.images.hero_background_hex}}">

  <div class="row">
    <div class="col-lg-3 col-md-3 hero-column hero-silhouette hidden-sm hidden-xs">
      <a href="/"><img src="{{site.data.settings.images.hero_image}}" alt="{{site.data.settings.client.company}}"  /></a>
    </div>

      <div class="col-lg-2 col-md-3 col-sm-6 hero-column">
        <a href="/"><img src="{{site.data.settings.images.hero_logo_path}}" alt="{{site.data.settings.client.company}}" class="site-logo" /></a>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 hero-column site-title">
        <a href="/"><h1 class="site-title">{{site.data.settings.images.hero_text}}</h1></a>
      </div>

      <div class="col-lg-2 col-md-2 hero-column hero-headshot hidden-sm hidden-xs" >
        <a href="/"><img src="{{site.data.settings.images.hero_headshot_path}}" alt="{{site.data.settings.client.company}}" /></a>
      </div>

    </div>

</header>
